


      
h1 { color:pink; font-family: fantasy; border:8px dashed pink; font-size: 400% }
h2 { color:violet; font-family:cursive; font-size: 300% }
h3 { color:deeppink; font-family: fantasy;font-size:300% }
h4 { color:aquamarine; font-family:cursive;font-size:250% }
center { color:powderblue; font-family: fantasy; border:4px dashed powderblue ;font-size: 400% }
