
        
h1 { color:pink; font-family: fantasy; border:8px dashed pink; font-size: 400% }
h2 { color:violet; font-family: fantasy; font-size: 300% }
h3 { color:deeppink; font-family: fantasy;font-size:300% }