
#M
{
opacity:0.7;
    margin: auto
              -webkit-filter: blur(8px);
            -moz-filter: blur(8px);
            -o-filter: blur(8px);
            -ms-filter: blur(8px);
            filter: blur(8px);
    
}
#M:hover
{
opacity:1.0;
    margin: auto
            -webkit-filter: blur(0px);
            -moz-filter: blur(0px);
            -o-filter: blur(0px);
            -ms-filter: blur(0px);
            filter: blur(0px);
    
}
#X
{
opacity:0.5;
    margin: auto
}
#X:hover
{
opacity:1.0;
    margin: auto

}
#Z
{
opacity:0.7;
     
      
}
#Z:hover
{
opacity:1.0;
  -webkit-filter: blur(0px);
            -moz-filter: blur(0px);
            -o-filter: blur(0px);
            -ms-filter: blur(0px);
            filter: blur(0px);       }
#C
{
opacity:0.1;
      -webkit-filter: blur(3px);
            -moz-filter: blur(3px);
            -o-filter: blur(3px);
            -ms-filter: blur(3px);
            filter: blur(3px);  
    
      
}
#C:hover
{
opacity:1.0;
  -webkit-filter: blur(0px);
            -moz-filter: blur(0px);
            -o-filter: blur(0px);
            -ms-filter: blur(0px);
            filter: blur(0px);       }
