
    body{color:aquamarine; font-family: fantasy; background-color:antiquewhite} 
    p {color:black;font-family:fantasy;font-size: 300% }
    h1{color:darkcyan;font-family:fantasy; border:4px dashed black;font-size: 400%}
    li{color:darkcyan;font-family:fantasy;font-size: 200% }